body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #66ccff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/*** Reset browser default styles***/
button {
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
}
