.nav {
  display: block;
}

.nav button {
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}

.nav img {
  background: white;
  border-radius: 100%;
  width: 45px;
  height: 45px;
}

.main {
  margin-top: 100px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 1110px;
}
