.drop-down-paper{
  position: absolute;
  transform: scale(0.6);
  opacity: 0;
  transition: transform 0.1s ease-in, opacity 0.1s ease-in;
  pointer-events: none;
}

.drop-down-paper.open{
  transform: scale(1);
  opacity: 1;
  pointer-events: all;

}


.drop-down-paper-content{
  /* pointer-events: none; */
}

.drop-down-paper.open .drop-down-paper-content{
  pointer-events: all;
}
